/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: teal;
}

.card {
  background-color: rgb(5, 63, 63);
  min-width: 300px;
  min-height: 350px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black;
  margin-bottom: 10px;
  margin: 20px;
}

.listsAndTasks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.header h1 {
  color: white;
  text-align: center;
  margin: 20px 0;
}
/* USERS INPUT */
.todoInput {
  outline: none;
  width: 300px;
  padding: 10px;
  margin-right: 20px;
  font-size: 15px;
  color: black;
  background-color: white;
  border: none;
  border-radius: 20px;
}

input:focus,
button:focus {
  outline: none;
}

/* LIST ITEM */
.listItem {
  display: flex;
  margin: 20px 0;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  max-height: 40px;
  justify-content: space-between;
}

.listNameItem {
  display: flex;
  margin: 20px 0;
  border-bottom: 2px solid white;
  padding: 10px;
  max-height: 40px;
  justify-content: space-between;
}

/* BUTTONS */
.addButton {
  width: 80px;
  padding: 8px;
  font-size: 15px;
  border: 0;
  background-color: teal;
  cursor: pointer;
  color: white;
  border-radius: 20px;
}

.listButton {
  background-color: aqua;
  background: red;
}

.editButton,
.deleteButton,
.completeButton {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 15px;
  border-radius: 40%;
}

.completeButton {
  color: green;
  margin-right: 10px;
}

.editButton {
  color: orange;
  margin-right: 10px;
}

.deleteButton {
  color: red;
}

input:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* cross out effect */
.complete {
  text-decoration: solid;
  text-decoration: line-through;
  text-decoration-color: white;
  opacity: 0.7;
}

/* list item displayed once added*/
.itemText {
  width: auto;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 15px;
  padding-left: 10px;
  margin-right: 10px;
}
